#loading{
  display: none;
}
/*
 Template Name: Agroxa - Responsive Bootstrap 4 Admin Dashboard
 Author: Themesbrand
 Website: www.themesbrand.com
 File: Main Css File
*/
/* ============
TABLES OF CSS
---------------

01. General
02. Bootstrap-custom
03. Helper
04. Waves Effect
05. Menu
06. Buttons
07. Cards
08. Email
09. Summernote
10. Alerts
11. Demo Only
12. Pagination
13. Progress
14. Popover - Tooltips
15. Sweet Alerts
16. Tabs
17. Form-elements
18. Form-validation
19. Form-advanced
20. Form-editors
21. Form-upload
22. Calendar
23. Tables
24. Maps
25. Range-slider
26. Session-timeout
27. Charts
28. Widgets
29. TImeline
30. Directory
31. Invoice
32. Account Pages
33. Dashboard Page
34. Responsive


*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* ======
01. General
   ====== */
/* ==============
  General
===================*/
body {
  background-repeat: repeat;
  background: #f3f3f3;
  font-family: "Roboto", sans-serif;
  color: #5b626b;
  font-size: 13.5px;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

p {
  line-height: 1.7;
}

svg {
  max-width: 100%;
}

a {
  color: #949a9e;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  bottom: 0;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.slimScrollDiv {
  height: auto !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1b82ec;
}

/* Social */
.social-links li a {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* ======
02. Bootstrap-custom
   ====== */
/* ==============
  Bootstrap-custom
===================*/
.dropdown-menu {
  padding: 4px 0;
  font-size: 13.5px;
  -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  margin: 0;
}

.dropdown-item {
  background-color: #ffffff;
  padding: .55rem 1.5rem;
}

.dropdown-item:active, .dropdown-item:hover {
  background-color: #f9f9f9;
  color: #2a3142;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #f9f9f9;
  color: #2a3142;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #949a9e;
  content: "\f105" !important;
  font-family: FontAwesome;
}

.bg-primary {
  background-color: #1b82ec !important;
}

.bg-success {
  background-color: #35a989 !important;
}

.bg-info {
  background-color: #29bbe3 !important;
}

.bg-warning {
  background-color: #f5b225 !important;
}

.bg-danger {
  background-color: #f16c69 !important;
}

.bg-muted {
  background-color: #949a9e !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

.text-danger {
  color: #f16c69 !important;
}

.text-muted {
  color: #949a9e !important;
}

.text-primary {
  color: #1b82ec !important;
}

.text-warning {
  color: #f5b225 !important;
}

.text-success {
  color: #35a989 !important;
}

.text-info {
  color: #29bbe3 !important;
}

.text-dark {
  color: #2a3142 !important;
}

.badge {
  font-weight: 500;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.badge-primary {
  background-color: #1b82ec;
}

.badge-success {
  background-color: #35a989;
}

.badge-info {
  background-color: #29bbe3;
}

.badge-warning {
  background-color: #f5b225;
  color: white;
}

.badge-danger {
  background-color: #f16c69;
}

.badge-dark {
  background-color: #2a3142;
}

dt {
  font-weight: 500;
}

.modal-content {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: .125rem;
}

.popover {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
  border: none;
}

/* ======
03. Helper
   ====== */
/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-0 {
  margin: 0;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.w-30 {
  max-width: 30px;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.l-h-23 {
  line-height: 23px;
}

.l-h-34 {
  line-height: 34px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.thumb-md {
  height: 48px;
  width: 48px;
}

.thumb-lg {
  height: 88px;
  width: 88px;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.header-title {
  font-size: 16px;
}

/* ======
04. Waves Effect
   ====== */
/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

/* ======
05. Menu
   ====== */
/* ==============
  Menu
===================*/
body {
  padding-bottom: 65px;
}

.wrapper {
  padding-top: 120px;
}

.container-fluid {
  width: 95%;
}

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: transparent;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 62px;
}

#topnav .has-submenu.active a {
  color: #1b82ec;
}

#topnav .has-submenu.active .submenu li.active > a {
  color: #1b82ec;
}

#topnav .topbar-main {
  background-color: #1b82ec;
}

#topnav .topbar-main .logo {
  line-height: 60px;
  float: left;
}

#topnav .topbar-main .logo .logo-large {
  height: 24px;
}

#topnav .topbar-main .logo-small {
  display: none;
  height: 30px;
}

#topnav .navbar-custom {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  padding-left: 0;
}

#topnav .navbar-toggle {
  border: 0;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#topnav .navbar-toggle:hover {
  background-color: transparent;
}

#topnav .navbar-toggle:hover span {
  background-color: #ffffff;
}

#topnav .navbar-toggle .lines {
  width: 25px;
  display: block;
  position: relative;
  padding-top: 23px;
  margin: 0 10px;
  height: 60px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#topnav .navbar-toggle.open span {
  position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
  top: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
  visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
  width: 100%;
  top: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#topnav .navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topnav .navigation-menu > li {
  display: inline-block;
  position: relative;
}

#topnav .navigation-menu > li > a {
  display: block;
  color: rgba(42, 49, 66, 0.7);
  font-size: 14.5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  line-height: 18px;
  padding-left: 25px;
  padding-right: 25px;
}

#topnav .navigation-menu > li > a:hover {
  color: #2a3142;
}

#topnav .navigation-menu > li > a:focus {
  color: #2a3142;
}

#topnav .navigation-menu > li > a:active {
  color: #ffffff;
}

#topnav .navigation-menu > li > a i {
  font-size: 15px;
  vertical-align: baseline;
  margin-right: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:focus {
  background-color: transparent;
}

/* Notification */
.notification-item-list {
  max-height: 230px;
}

.notification-list .noti-icon {
  font-size: 24px;
  vertical-align: middle;
  color: #f9f9f9;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 10px;
  background: #f16c69;
}

.notification-list .notify-item {
  padding: 15px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  text-align: center;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.notification-list .notify-item .notify-icon i {
  line-height: 36px;
  color: #ffffff;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
}

.notification-list .profile-dropdown .notify-item {
  padding: 4px 20px;
}

.notification-list .nav-link {
  padding: 0 15px;
  line-height: 70px;
}

.profile-dropdown {
  width: 170px;
}

.profile-dropdown i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
  color: #adb5bd;
}

.nav-user img {
  height: 36px;
  width: 36px;
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.dropdown-menu-lg {
  width: 300px;
}

.app-search {
  margin-top: 13px;
  position: relative;
}

.app-search .form-control,
.app-search .form-control:focus {
  border: 1px solid #338fee;
  font-size: 13px;
  height: 34px;
  padding-left: 18px;
  padding-right: 40px;
  margin-right: 20px;
  background: #338fee;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 30px;
  width: 200px;
  color: #ffffff;
}

.app-search button {
  position: absolute;
  top: 8px;
  right: 30px;
  display: block;
  color: rgba(249, 249, 249, 0.5);
  font-size: 11px;
  border: none;
  background-color: transparent;
}

.app-search input::-webkit-input-placeholder {
  color: #dee2e6;
}

.app-search input:-moz-placeholder {
  color: #adb5bd;
}

.app-search input::-moz-placeholder {
  color: #adb5bd;
}

.app-search input:-ms-input-placeholder {
  color: #adb5bd;
}

.nav-user img {
  margin-top: -3px;
}

/************* page title *************/
.page-title-box {
  background: url("../images/bg.jpg");
  padding: 20px 0px 100px 00px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  color: #ffffff;
  background-size: cover;
}

.page-title-box .page-title {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
}

.page-title-box .breadcrumb {
  padding: 4px 0;
  background-color: transparent;
  margin-bottom: 0;
}

.page-title-box .breadcrumb a {
  color: rgba(255, 255, 255, 0.9);
}

.page-title-box .breadcrumb a:hover {
  color: #ffffff;
}

.page-title-box .breadcrumb .active {
  color: rgba(255, 255, 255, 0.5);
}

.page-title-box .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

.page-title-box .state-information .state-graph {
  float: right;
  margin-left: 40px;
  text-align: center;
}

.page-title-box .state-information .state-graph .info {
  font-size: 12px;
  margin-top: 5px;
}

.page-content-wrapper {
  margin-top: -76px;
}

/*
  Responsive Menu
*/
@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #topnav .navigation-menu > li:first-of-type > a {
    padding-left: 0;
  }
  #topnav .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0;
  }
  #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
  }
  #topnav .navigation-menu > li:hover a {
    color: #1b82ec;
  }
  #topnav .navigation-menu > li:hover a i {
    color: #1b82ec;
  }
  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 15px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
  }
  #topnav .navigation-menu > li .submenu.megamenu {
    white-space: nowrap;
    width: auto;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li {
    overflow: hidden;
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }
  #topnav .navigation-menu > li .submenu > li.has-submenu > a:after {
    content: "\56";
    font-family: "dripicons-v2";
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 15px;
  }
  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 100%;
    top: 0;
    margin-top: 10px;
  }
  #topnav .navigation-menu > li .submenu li {
    position: relative;
  }
  #topnav .navigation-menu > li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 8px 25px;
    clear: both;
    white-space: nowrap;
    font-size: 14px;
    color: rgba(42, 49, 66, 0.7);
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #1b82ec;
  }
  #topnav .navigation-menu > li .submenu li span {
    display: block;
    padding: 8px 25px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgba(42, 49, 66, 0.7);
  }
  #topnav .navbar-toggle {
    display: none;
  }
  #topnav #navigation {
    display: block;
  }
}

@media (max-width: 991px) {
  .wrapper {
    padding-top: 60px;
  }
  .container-fluid {
    width: auto !important;
  }
  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
    text-align: left;
  }
  #topnav .navigation-menu > li {
    display: block;
  }
  #topnav .navigation-menu > li > a {
    color: rgba(42, 49, 66, 0.7);
    padding: 15px;
  }
  #topnav .navigation-menu > li > a i {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    vertical-align: inherit;
  }
  #topnav .has-submenu.active a, #topnav .navigation-menu > li > a:active, #topnav .navigation-menu > li > a:hover {
    color: #1b82ec;
  }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px;
  }
  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    position: relative;
    padding: 7px 20px;
    color: rgba(42, 49, 66, 0.7);
  }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #1b82ec;
  }
  #topnav .navigation-menu > li .submenu li.has-submenu > a:after {
    content: "\54";
    font-family: "dripicons-v2";
    position: absolute;
    right: 30px;
  }
  #topnav .navigation-menu > li .submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none;
  }
  #topnav .navigation-menu > li .submenu .submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul {
    list-style: none;
    padding-left: 0;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
    display: block;
    position: relative;
    padding: 15px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: rgba(42, 49, 66, 0.7);
  }
  #topnav .navigation-menu > li.has-submenu.open > a {
    color: #1b82ec;
  }
  #topnav .navbar-header {
    float: left;
  }
  #navigation {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #ffffff;
  }
  #navigation.open {
    display: block;
    overflow-y: auto;
  }
}

@media (max-width: 620px) {
  .logo-large {
    display: none;
  }
  .logo-small {
    display: inline-block !important;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: -1px;
    margin-right: 0;
  }
  .navbar-toggle {
    display: block;
  }
}

.topbar-custom .nav-link {
  line-height: 60px;
  display: block;
  max-height: 60px;
}

.topbar-custom .dropdown-toggle:after {
  content: initial;
}

.topbar-custom .menu-left {
  overflow: hidden;
}

.footer {
  left: 0 !important;
  font-size: inherit;
  padding: 20px 0;
  color: #949a9e;
}

/****************** page title 2 ********************/
.page-title-box-dark {
  background: url("../images/pattern-white.png");
  color: #2a3142;
  background-size: inherit;
}

.page-title-box-dark .breadcrumb a {
  color: rgba(42, 49, 66, 0.9);
}

.page-title-box-dark .breadcrumb a:hover {
  color: #2a3142;
}

.page-title-box-dark .breadcrumb .active {
  color: rgba(42, 49, 66, 0.5);
}

.page-title-box-dark .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(42, 49, 66, 0.5);
}

/* ======
06. Buttons
   ====== */
/* ==============
  Buttons
===================*/
.btn {
  border-radius: 3px;
  font-size: 13.5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
}

.btn-sm {
  font-size: 12.27273px;
}

.btn-lg {
  font-size: 16.2px;
}

.btn-primary, .btn-success, .btn-info, .btn-warning,
.btn-danger, .btn-dark, .btn-pink, .btn-purple, .btn-indigo, .btn-teal,
.btn-lime, .btn-orange, .btn-brown, .btn-blue-grey {
  color: #ffffff;
}

.btn-primary {
  background-color: #1b82ec;
  border: 1px solid #1b82ec;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn-outline-primary.active, .btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-primary.active,
.btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #1275db;
  border: 1px solid #1275db;
}

.btn-primary.focus, .btn-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(27, 130, 236, 0.3);
  box-shadow: 0 0 0 2px rgba(27, 130, 236, 0.3);
}

.btn-secondary.focus, .btn-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
  box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.btn-success {
  background-color: #35a989;
  border: 1px solid #35a989;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover,
.open > .dropdown-toggle.btn-success, .btn-outline-success.active, .btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle, .btn-outline-success:hover, .btn-success.active,
.btn-success:active, .show > .btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
  background-color: #2f9679;
  border: 1px solid #2f9679;
}

.btn-success.focus, .btn-success:focus, .btn-outline-success.focus, .btn-outline-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(53, 169, 137, 0.3);
  box-shadow: 0 0 0 2px rgba(53, 169, 137, 0.3);
}

.btn-info {
  background-color: #29bbe3;
  border: 1px solid #29bbe3;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus,
.btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info,
.btn-outline-info.active, .btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle, .btn-outline-info:hover, .btn-info.active, .btn-info:active,
.show > .btn-info.dropdown-toggle, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
  background-color: #1caed6;
  border: 1px solid #1caed6;
}

.btn-info.focus, .btn-info:focus, .btn-outline-info.focus, .btn-outline-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(41, 187, 227, 0.3);
  box-shadow: 0 0 0 2px rgba(41, 187, 227, 0.3);
}

.btn-warning {
  background-color: #f5b225;
  border: 1px solid #f5b225;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover,
.open > .dropdown-toggle.btn-warning, .btn-outline-warning.active, .btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle, .btn-outline-warning:hover, .btn-warning.active,
.btn-warning:active, .show > .btn-warning.dropdown-toggle,
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
  background-color: #f4a90d;
  border: 1px solid #f4a90d;
  color: #ffffff;
}

.btn-warning.focus, .btn-warning:focus, .btn-outline-warning.focus, .btn-outline-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(245, 178, 37, 0.3);
  box-shadow: 0 0 0 2px rgba(245, 178, 37, 0.3);
}

.btn-danger {
  background-color: #f16c69;
  border: 1px solid #f16c69;
}

.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active,
.btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover,
.open > .dropdown-toggle.btn-danger, .btn-outline-danger.active, .btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle, .btn-outline-danger:hover, .btn-danger.active,
.btn-danger:active, .show > .btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
  background-color: #ef5552;
  border: 1px solid #ef5552;
}

.btn-danger.focus, .btn-danger:focus, .btn-outline-danger.focus, .btn-outline-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(241, 108, 105, 0.3);
  box-shadow: 0 0 0 2px rgba(241, 108, 105, 0.3);
}

.btn-dark {
  background-color: #2a3142;
  border: 1px solid #2a3142;
  color: #ffffff;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus,
.btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active, .btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle, .btn-outline-dark:hover {
  background-color: #202532;
  border: 1px solid #202532;
  color: #ffffff;
}

.btn-dark.focus, .btn-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
  box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.btn-link {
  color: #2a3142;
}

.btn-link:hover {
  color: #1b82ec;
}

/* button Outline */
.btn-outline-primary {
  color: #1b82ec;
  border-color: #1b82ec;
}

.btn-outline-success {
  color: #35a989;
  border-color: #35a989;
}

.btn-outline-info {
  color: #29bbe3;
  border-color: #29bbe3;
}

.btn-outline-warning {
  color: #f5b225;
  border-color: #f5b225;
}

.btn-outline-danger {
  color: #f16c69;
  border-color: #f16c69;
}

.btn-outline-dark {
  color: #2a3142;
  background-image: none;
  background-color: transparent;
  border-color: #2a3142;
}

/* ======
07. Cards
   ====== */
.card {
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

.card-columns .card {
  margin-bottom: 30px;
}

/* ======
08. Email
   ====== */
/* ==============
  Email
===================*/
.email-leftbar {
  width: 230px;
  float: left;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.email-rightbar {
  margin-left: 260px;
}

.chat-user-box p.user-title {
  font-size: 13.5px;
  color: #2a3142;
  font-weight: 500;
}

.chat-user-box p {
  font-size: 12px;
}

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%;
  }
  .email-rightbar {
    margin: 0;
  }
}

.mail-list a {
  display: block;
  color: #343d52;
  font-size: 13.5px;
  line-height: 24px;
  padding: 5px;
}

.mail-list a.active {
  color: #f16c69;
  font-weight: 600;
}

.message-list {
  display: block;
  padding-left: 0;
}

.message-list li {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.message-list li a {
  color: #949a9e;
}

.message-list li:hover {
  background: rgba(148, 154, 158, 0.08);
  -webkit-transition-duration: .05s;
          transition-duration: .05s;
}

.message-list li .col-mail {
  float: left;
  position: relative;
}

.message-list li .col-mail-1 {
  width: 320px;
}

.message-list li .col-mail-1 .star-toggle,
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot {
  display: block;
  float: left;
}

.message-list li .col-mail-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 15px 10px 0 20px;
}

.message-list li .col-mail-1 .star-toggle {
  margin-top: 18px;
  font-size: 13.5px;
  margin-left: 5px;
}

.message-list li .col-mail-1 .title {
  position: absolute;
  left: 110px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.message-list li .col-mail-2 {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
}

.message-list li .col-mail-2 .subject,
.message-list li .col-mail-2 .date {
  position: absolute;
  top: 0;
}

.message-list li .col-mail-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message-list li .col-mail-2 .date {
  right: 0;
  width: 170px;
  padding-left: 80px;
}

.message-list li.active,
.message-list li.active:hover {
  -webkit-box-shadow: inset 3px 0 0 #1b82ec;
          box-shadow: inset 3px 0 0 #1b82ec;
}

.message-list li.unread {
  background-color: #f7f7f7;
  font-weight: 600;
}

.message-list li.unread a {
  color: #202532;
  font-weight: 500;
}

.message-list .checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 1px #dee2e6;
          box-shadow: inset 0 0 0 1px #dee2e6;
  border-radius: 1px;
}

.message-list .checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}

.message-list .checkbox-wrapper-mail input:checked ~ label {
  opacity: 1;
}

.message-list .checkbox-wrapper-mail label {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 0;
  -webkit-transition-duration: .05s;
          transition-duration: .05s;
  top: 0;
}

.message-list .checkbox-wrapper-mail label:before {
  content: "\F12C";
  font-family: "Material Design Icons";
  top: 0;
  height: 20px;
  color: #202532;
  width: 20px;
  position: absolute;
  margin-top: -16px;
  left: 4px;
  font-size: 13px;
}

/* ======
09. Summernote
   ====== */
/* ==============
  Summernote
===================*/
.note-btn-group .dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.note-btn-group .dropdown-menu > li > a:hover {
  background-color: #e4e7ea;
}

.note-image-popover, .note-air-popover, .note-link-popover {
  display: none;
}

.note-image-popover .dropdown-toggle::after, .note-air-popover .dropdown-toggle::after, .note-link-popover .dropdown-toggle::after {
  margin-left: 0;
}

.note-icon-caret {
  display: none;
}

.note-editor {
  position: relative;
}

.note-editor .btn-default {
  background-color: transparent;
  border-color: transparent;
}

.note-editor .btn-group-sm > .btn, .note-editor .btn-sm {
  padding: 8px 12px;
}

.note-editor .note-toolbar {
  background: #edeff1;
  border-bottom: 1px solid #e9ecef;
  margin: 0;
}

.note-editor .note-statusbar {
  background-color: #ffffff;
}

.note-editor .note-statusbar .note-resizebar {
  border-top: none;
  height: 15px;
  padding-top: 3px;
}

.note-editor.note-frame {
  border: 1px solid #e9ecef;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.note-popover .popover .popover-content {
  padding: 5px 0 10px 5px;
}

.note-popover .btn-default {
  background-color: transparent;
  border-color: transparent;
}

.note-popover .btn-group-sm > .btn, .note-popover .btn-sm {
  padding: 8px 12px;
}

.note-toolbar {
  padding: 5px 0 10px 5px;
}

/* ======
10. Alerts
   ====== */
/* =============
   Alerts
============= */
.alert {
  position: relative;
  border: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.alert .alert-link {
  font-weight: 500;
}

.alert-success {
  color: #35a989;
  background-color: #98dfcb;
}

.alert-success .alert-link {
  color: #29826a;
}

.alert-success hr {
  border-top-color: #29826a;
}

.alert-info {
  color: #29bbe3;
  background-color: #c7edf8;
}

.alert-info .alert-link {
  color: #199cc0;
}

.alert-info hr {
  border-top-color: #199cc0;
}

.alert-warning {
  color: #f5b225;
  background-color: #fce9c1;
}

.alert-warning .alert-link {
  color: #dd990a;
}

.alert-warning hr {
  border-top-color: #dd990a;
}

.alert-danger {
  color: #f16c69;
  background-color: #fef5f5;
}

.alert-danger .alert-link {
  color: #ed3e3a;
}

.alert-danger hr {
  border-top-color: #ed3e3a;
}

.alert-primary {
  color: #1b82ec;
  background-color: #8cc0f5;
}

.alert-primary .alert-link {
  color: #1069c4;
}

.alert-primary hr {
  border-top-color: #1069c4;
}

/* ======
11. Demo Only
   ====== */
/* ==============
 Demo Only css
===================*/
.button-items {
  margin-bottom: -8px;
}

.button-items .btn {
  margin-bottom: 8px;
  margin-right: 5px;
}

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.icon-demo-content {
  text-align: center;
  color: #6d7478;
}

.icon-demo-content i {
  display: block;
  font-size: 28px;
  margin-bottom: 5px;
}

.icon-demo-content .col-md-4 {
  margin-bottom: 30px;
}

.icon-demo-content .col-md-4:hover i {
  color: #1b82ec;
}

.blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 4px solid #e9ecef;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid #e9ecef;
  text-align: right;
}

/* ======
12. Pagination
   ====== */
/* ==============
  Pagination
===================*/
.page-link {
  color: #2a3142;
  border: none;
  border-radius: 4px;
}

.page-item.active .page-link {
  background-color: #1b82ec;
  border-color: #1b82ec;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
}

.page-link:focus, .page-link:hover {
  color: #2a3142;
  background-color: #e9ecef;
}

/* ======
13. Progress
   ====== */
.progress {
  height: 10px;
}

.progress-bar {
  background-color: #1b82ec;
}

/* ======
14. Popover - Tooltips
   ====== */
/* ==============
  Popover & Tooltips
===================*/
.popover-header {
  margin-top: 0;
}

.tooltip .tooltip-inner {
  padding: 4px 10px;
}

/* ======
15. Sweet Alerts
   ====== */
/* =========== */
/* Sweet Alert */
/* =========== */
.swal2-modal {
  font-family: inherit;
}

.swal2-modal .swal2-title {
  font-size: 28px;
}

.swal2-modal .swal2-content {
  font-size: 16px;
}

.swal2-modal .swal2-spacer {
  margin: 10px 0;
}

.swal2-modal .swal2-file, .swal2-modal .swal2-input, .swal2-modal .swal2-textarea {
  border: 2px solid #949a9e;
  font-size: 16px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.swal2-modal .swal2-styled {
  border: inherit;
}

.swal2-modal .swal2-image {
  height: 30px;
}

.swal2-icon.swal2-question {
  color: #1b82ec;
  border-color: #1b82ec;
}

.swal2-icon.swal2-success {
  border-color: #35a989;
}

.swal2-icon.swal2-success .line {
  background-color: #35a989;
}

.swal2-icon.swal2-success .placeholder {
  border-color: #35a989;
}

.swal2-icon.swal2-warning {
  color: #f5b225;
  border-color: #f5b225;
}

.swal2-icon.swal2-error {
  border-color: #f16c69;
}

.swal2-icon.swal2-error .line {
  background-color: #f16c69;
}

.swal2-modal .swal2-file:focus, .swal2-modal .swal2-input:focus, .swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #1b82ec;
}

/* ======
16. Tabs
   ====== */
/* =============
   Tabs & Accordions
============= */
.nav-tabs .nav-link, .nav-pills .nav-link {
  color: #2a3142;
  font-weight: 500;
}

.nav-tabs-custom {
  border-bottom: 2px solid #DDD;
}

.nav-tabs-custom .nav-item {
  position: relative;
}

.nav-tabs-custom .nav-item .nav-link {
  border: none !important;
  font-weight: 500;
}

.nav-tabs-custom > li > a {
  color: #2a3142;
}

.nav-tabs-custom > li > a::after {
  content: "";
  background: #1b82ec;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav-tabs-custom > li > a.active::after, .nav-tabs-custom > li:hover > a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-tabs-custom > li > a.active {
  color: #1b82ec !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: #1b82ec;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
}

#accordion .card-header {
  border-bottom: 1px solid rgba(42, 49, 66, 0.05);
}

/* ======
17. Form-elements
   ====== */
/* ==============
  Form-elements
===================*/
label {
  font-weight: 500;
}

.form-control {
  font-size: 13.5px;
}

.form-control:focus {
  border-color: #1b82ec;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control-sm {
  font-size: .875rem;
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #1b82ec;
}

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1b82ec;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1b82ec;
}

.has-success .form-control {
  border-color: #35a989;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.has-warning .form-control {
  border-color: #f5b225;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.has-error .form-control {
  border-color: #f16c69;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid #f9f9f9;
}

/* ======
18. Form-validation
   ====== */
/* ==============
  Form-Validation
===================*/
.error {
  color: #ff0000;
}

.parsley-error {
  border-color: #f16c69;
}

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}

.parsley-errors-list.filled {
  display: block;
}

.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #f16c69;
  margin-top: 5px;
}

/* ======
19. Form-advanced
   ====== */
/* ==============
  Form-Advanced
===================*/
/* Datepicker */
.datepicker {
  border: 1px solid #f9f9f9;
  padding: 8px;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover, .datepicker table tr td.today, .datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover, .datepicker table tr td.selected,
.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
  background-color: #1b82ec !important;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ffffff;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > td {
  padding: 5px;
}

/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px;
}

/* Color Picker */
.colorpicker-visible {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-top: 0;
}

.datepicker-dropdown.dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.colorpicker-selectors i {
  margin-top: 5px;
  margin-left: 5px;
}

.color-picker-inputs .form-group .input-group-append .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
  height: 30px;
}

/* md date Picker */
.dtp-buttons .btn {
  margin-left: 7px;
  padding: 5px 20px;
  font-size: 12px;
}

.dtp table.dtp-picker-days tr > td > a.selected {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Select 2 */
.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  border: 1px solid #E3E3E3;
  height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #999 transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #999 transparent;
  border-width: 0 6px 6px 6px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1b82ec;
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 1px solid #e3e3e3;
  padding-top: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.select2-search input {
  border: 1px solid #e3e3e3;
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #e3e3e3;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
  margin-top: 7px;
  border: 0;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  padding: 0 7px;
}

/* CSS Switch */
input[switch] {
  display: none;
}

input[switch] + label {
  font-size: 1em;
  line-height: 1;
  width: 56px;
  height: 24px;
  background-color: #dee2e6;
  background-image: none;
  border-radius: 2rem;
  padding: 0.16667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[switch] + label:before {
  color: #2a3142;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  right: 1px;
  margin: 3px;
  top: 0px;
  text-align: center;
  min-width: 1.66667rem;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[switch] + label:after {
  content: '';
  position: absolute;
  left: 3px;
  background-color: #e9ecef;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2rem;
  height: 20px;
  width: 20px;
  top: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[switch]:checked + label {
  background-color: #1b82ec;
}

input[switch]:checked + label:before {
  color: #ffffff;
  content: attr(data-on-label);
  right: auto;
  left: 3px;
}

input[switch]:checked + label:after {
  left: 33px;
  background-color: #e9ecef;
}

input[switch="bool"] + label {
  background-color: #f16c69;
}

input[switch="bool"] + label:before, input[switch="bool"]:checked + label:before,
input[switch="default"]:checked + label:before {
  color: #ffffff;
}

input[switch="bool"]:checked + label {
  background-color: #35a989;
}

input[switch="default"]:checked + label {
  background-color: #a2a2a2;
}

input[switch="primary"]:checked + label {
  background-color: #1b82ec;
}

input[switch="success"]:checked + label {
  background-color: #35a989;
}

input[switch="info"]:checked + label {
  background-color: #29bbe3;
}

input[switch="warning"]:checked + label {
  background-color: #f5b225;
}

input[switch="danger"]:checked + label {
  background-color: #f16c69;
}

input[switch="dark"]:checked + label {
  background-color: #2a3142;
}

/* Bootstrap filestyle */
.icon-span-filestyle {
  padding-right: 5px;
}

.bootstrap-filestyle label {
  margin-bottom: 0;
}

.group-span-filestyle .badge {
  background-color: #2a3142;
}

/* Bootstrap Touchspin */
.bootstrap-touchspin .input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #2a3142;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(42, 49, 66, 0.15);
}

.bootstrap-touchspin .input-group-btn:not(:first-child) > .btn, .bootstrap-touchspin .input-group-btn:not(:first-child) > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

.bootstrap-touchspin .input-group .form-control:not(:first-child), .bootstrap-touchspin .input-group-addon:not(:first-child), .bootstrap-touchspin .input-group-btn:not(:first-child) > .btn, .bootstrap-touchspin .input-group-btn:not(:first-child) > .btn-group > .btn, .bootstrap-touchspin .input-group-btn:not(:first-child) > .dropdown-toggle, .bootstrap-touchspin .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .bootstrap-touchspin .input-group-btn:not(:last-child) > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bootstrap-touchspin .input-group .form-control:not(:last-child), .bootstrap-touchspin .input-group-addon:not(:last-child), .bootstrap-touchspin .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .bootstrap-touchspin .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .bootstrap-touchspin .input-group-btn:not(:last-child) > .btn, .bootstrap-touchspin .input-group-btn:not(:last-child) > .btn-group > .btn, .bootstrap-touchspin .input-group-btn:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bootstrap-touchspin .btn {
  font-size: 16px;
}

/* Prism editor */
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f9f9f9;
}

/* ======
20. Form-editors
   ====== */
/* ==============
  Form Editor
===================*/
.mce-panel {
  border-color: #cfd5db !important;
  background-color: #f9f9f9 !important;
}

.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
  background-color: #1b82ec !important;
}

.mce-menu {
  background-color: #ffffff !important;
}

/* ======
21. Form-upload
   ====== */
/* ==============
  Form-Upload
===================*/
/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border-radius: 6px;
}

.dropzone .dz-message {
  font-size: 30px;
}

/* ======
22. Calendar
   ====== */
/* ==============
  Calendar
===================*/
.calendar {
  float: left;
  margin-bottom: 0;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin-bottom: 5px;
}

.fc-toolbar h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.fc-day {
  background: #ffffff;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #d5d5d5;
  background-color: #f9f9f9;
}

.fc-widget-content {
  border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
  outline: none;
}

.fc-state-active, .fc-state-down {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #1b82ec;
  border-color: #1b82ec;
  color: #ffffff;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: #e9ecef;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed .fc-today {
  background: #ffffff;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 5px;
  text-align: center;
  background-color: #1b82ec;
  color: #ffffff !important;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.fc-event .fc-time {
  font-weight: 500;
}

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

/* ======
23. Tables
   ====== */
/* ==============
  Tables
===================*/
th {
  font-weight: 500;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
  padding: 15px 12px;
}

.table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd),
.thead-default th {
  background-color: #f9f9f9;
}

.table td, .table th {
  vertical-align: middle;
}

.table-vertical td {
  vertical-align: middle;
}

/* == Responsive Table ==*/
table.focus-on tbody tr.focused th {
  background-color: #1b82ec;
  color: #ffffff;
}

table.focus-on tbody tr.focused td {
  background-color: #1b82ec;
  color: #ffffff;
}

.table-rep-plugin .btn-toolbar {
  display: block;
}

.table-rep-plugin .table-responsive {
  border: none !important;
}

.table-rep-plugin .btn-group.float-right .dropdown-menu {
  left: auto;
  right: 0;
}

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal;
}

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
}

.table-rep-plugin .checkbox-row label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.table-rep-plugin .checkbox-row label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #dee2e6;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

.table-rep-plugin .checkbox-row label::after {
  color: #e9ecef;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -1px;
  width: 16px;
}

.table-rep-plugin .checkbox-row input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
  background-color: #1b82ec;
  border-color: #1b82ec;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.table-rep-plugin .sticky-table-header.fixed-solution {
  top: 118px !important;
}

@media (max-width: 768px) {
  .table-rep-plugin .sticky-table-header.fixed-solution {
    top: 60px !important;
  }
}

/* ======
24. Maps
   ====== */
/* ==============
  Maps
===================*/
.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #f9f9f9;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #1b82ec;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #1b82ec;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #1b82ec;
}

.vector-map-height {
  height: 400px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  display: none;
}

/* ======
25. Range-slider
   ====== */
/* ==============
  Range slider
===================*/
.irs-from, .irs-to, .irs-single {
  background: #f16c69;
}

.irs-from:after, .irs-to:after, .irs-single:after {
  border-top-color: #f16c69;
}

/* ======
26. Session-timeout
   ====== */
/* ==============
  Session Timeout
===================*/
#session-timeout-dialog .modal-title {
  margin-top: 0;
}

#session-timeout-dialog .close {
  display: none;
}

#session-timeout-dialog .btn-default {
  background-color: #ffffff;
  color: #f16c69;
}

#session-timeout-dialog .countdown-holder {
  color: #f16c69;
  font-weight: 700;
}

/* ======
27. Charts
   ====== */
/* ==============
  Charts
===================*/
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

/* Morris chart */
.morris-charts text {
  font-family: "Roboto", sans-serif !important;
}

.morris-chart-height {
  height: 300px;
}

.morris-hover.morris-default-style {
  border-radius: 5px;
  padding: 10px 12px;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
}

.morris-hover.morris-default-style .morris-hover-point {
  font-weight: 500;
  font-size: 13.5px;
  color: #2a3142 !important;
  font-family: "Roboto", sans-serif;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  background-color: #2a3142;
  color: #ffffff;
  padding: 4px;
  border-radius: 5px 5px 0 0;
  margin: -10px -12px 10px;
  font-family: "Roboto", sans-serif;
}

/* Flot chart */
.flot-chart-height {
  height: 320px;
}

#flotTip {
  padding: 8px 12px;
  background-color: #ffffff;
  z-index: 100;
  color: #2a3142;
  -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 1px;
}

/* Chartist chart */
.ct-golden-section:before {
  float: none;
}

.ct-chart {
  height: 300px;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.09);
  stroke-width: 2px;
  stroke-dasharray: 3px;
}

.ct-chart .ct-label {
  fill: #949a9e;
  color: #949a9e;
  font-size: 14px;
  line-height: 1;
}

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #1b82ec;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #29bbe3;
}

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #f5b225;
}

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #2a3142;
}

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #35a989;
}

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #f16c69;
}

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #f9f9f9;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #1b82ec;
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #f5b225;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #2a3142;
}

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  background: #2a3142;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.chartist-tooltip.tooltip-show {
  opacity: 1;
}

/* C3 chart */
.c3 svg {
  max-width: 100%;
}

.c3-tooltip td > span {
  background: #2a3142;
}

.c3-tooltip td {
  border-left: none;
}

.c3-tooltip {
  -webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.c3-chart-arcs-title {
  font-size: 18px;
  font-weight: 600;
}

.c3-tooltip tr {
  border: none !important;
}

.c3-tooltip th {
  background-color: #2a3142;
}

.c3-tooltip .value {
  font-weight: 600;
}

.c3-line {
  stroke-width: 2px;
}

.c3-legend-item {
  font-size: 13px;
}

/* Sparkline chart */
.jqstooltip {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #ffffff !important;
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #ffffff !important;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.jqsfield {
  font-size: 12px !important;
  line-height: 18px !important;
  color: #2a3142 !important;
}

/* ======
28. Widgets
   ====== */
/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0;
}

.widget-chart li i {
  font-size: 22px;
}

.mini-stat {
  overflow: hidden;
}

.mini-stat .mini-stat-desc .verti-label {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 44px;
  right: -9px;
  letter-spacing: 2px;
}

.mini-stat .mini-stat-icon i {
  position: absolute;
  right: 46px;
  top: -35px;
  color: rgba(255, 255, 255, 0.3);
}

.recent-activity-tab .nav-item {
  position: relative;
  padding-top: 30px;
  border-top: 2px solid #e9ecef;
}

.recent-activity-tab .nav-item::before {
  content: "";
  position: absolute;
  top: -7px;
  width: 12px;
  height: 12px;
  background: #1b82ec;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.recent-activity-tab .nav-item .nav-link {
  color: #2a3142;
  border-radius: 30px;
  position: relative;
}

.recent-activity-tab .nav-item .nav-link.active {
  color: #ffffff;
}

.recent-activity-tab .nav-item .nav-link.active:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background: #1b82ec;
  -webkit-transform: rotate(-60deg) skew(60deg);
          transform: rotate(-60deg) skew(60deg);
  top: -7px;
}

@media (max-width: 420px) {
  .recent-activity-tab .nav-item .nav-link.active:before {
    left: 12px;
  }
}

.inbox-wid .inbox-item {
  position: relative;
  border-bottom: 1px solid rgba(243, 243, 243, 0.9);
  overflow: hidden;
  padding: 10px 0;
}

.inbox-wid .inbox-item .inbox-item-date {
  font-size: 11px;
  position: absolute;
  right: 7px;
  top: 8px;
}

.order-table .badge {
  padding: 0.5em 0.6em;
  text-transform: uppercase;
}

.order-table .badge-primary {
  background: rgba(27, 130, 236, 0.5);
}

.order-table .badge-success {
  background: rgba(53, 169, 137, 0.5);
}

.order-table .badge-warning {
  background: rgba(245, 178, 37, 0.5);
}

/* ======
29. TImeline
   ====== */
/* ==============
  Timeline
===================*/
/* Activity */
.activity-feed {
  padding: 15px 15px 0 15px;
  list-style: none;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 29px;
  padding-left: 30px;
  border-left: 2px solid #e9ecef;
}

.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.activity-feed .feed-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 16px;
  height: 10px;
  border-radius: 6px;
  background: #ffffff;
  border: 4px solid #1b82ec;
}

.activity-feed .feed-item .feed-item-list {
  padding: 12px 20px;
  border-radius: 7px;
  background: #f9f9f9;
}

.activity-feed .feed-item .feed-item-list::after {
  left: 19px;
  top: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #f9f9f9;
  border-width: 10px;
  margin-left: -1px;
  border-right-color: #f9f9f9;
}

.activity-feed .feed-item .date {
  display: block;
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}

.activity-feed .feed-item .activity-text {
  position: relative;
  top: -3px;
}

/* Timeline */
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em 0;
  position: relative;
}

#cd-timeline::before {
  border-left: 3px solid rgba(233, 236, 239, 0.7);
  content: '';
  height: 100%;
  left: 18px;
  position: absolute;
  top: 0;
  width: 3px;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  margin: 2em 0;
  position: relative;
}

.cd-timeline-block:after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 29px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  color: #ffffff;
  background-color: #1b82ec;
  border: 3px solid #ffffff;
  z-index: 1;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.cd-timeline-img i {
  margin-left: 1px;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    line-height: 34px;
    left: 50%;
    margin-left: -20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cd-timeline-content .cd-date.date-right:before {
    content: '';
    top: 0px;
    left: 100%;
    border-color: transparent;
    border-left-color: rgba(233, 236, 239, 0.6);
  }
}

.cd-timeline-content {
  border-radius: 5px;
  margin-left: 60px;
  padding: 1em;
  position: relative;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.cd-timeline-content:after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-content h2 {
  margin-top: 0;
}

.cd-timeline-content .cd-read-more {
  background: #1b82ec;
  border-radius: 0.25em;
  color: #ffffff;
  display: inline-block;
  float: right;
  font-size: 14px;
  padding: .8em 1em;
}

.cd-timeline-content .cd-date {
  display: inline-block;
  font-size: 14px;
}

.cd-timeline-content h3 {
  font-size: 18px;
  margin: 6px 0 18px 0;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: 4px 22px;
  opacity: .7;
  background: rgba(233, 236, 239, 0.6);
}

.cd-timeline-content .cd-date:before {
  content: '';
  position: absolute;
  top: 1px;
  right: 100%;
  height: 0;
  width: 0;
  border: 14px solid transparent;
  border-right: 14px solid rgba(233, 236, 239, 0.6);
}

@media (max-width: 1170px) {
  .cd-timeline-content .cd-date:before {
    top: 34px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 42%;
  }
  .cd-timeline-content.right-content {
    text-align: right;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 50%;
    left: 84%;
    top: 17px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 84%;
    text-align: right;
  }
}

/* ======
30. Directory
   ====== */
.directory-card .directory-card-bg {
  background: url("../images/bg-directory-pattern.png");
  background-size: cover;
  background-position: center;
}

.directory-card .social-icons .social-links {
  position: absolute;
  bottom: 20px;
  right: 0px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: rgba(27, 130, 236, 0.5);
}

/* ======
31. Invoice
   ====== */
/* ==== =====
Invoice
============= */
.table > thead > tr > .no-line {
  border-bottom: none;
}

.table > tbody > tr > .no-line {
  border-top: none;
}

.table > tbody > tr > .thick-line {
  border-top: 2px solid #f9f9f9;
}

/* ==============
  Print css
===================*/
@media print {
  .topbar-main, .page-title-box, .footer {
    display: none;
  }
  .wrapper {
    padding: 0;
  }
  .page-content-wrapper {
    margin-top: 0;
    padding-top: 0;
  }
  .container-fluid {
    width: 100%;
  }
}

/* ======
32. Account Pages
   ====== */
/* ==============
  Account Pages
===================*/
.wrapper-page {
  margin: 5.5% auto;
  max-width: 460px;
  position: relative;
}

.wrapper-page .logo-admin {
  font-size: 28px;
  line-height: 70px;
}

.user-thumb {
  position: relative;
  z-index: 999;
}

.user-thumb img {
  height: 88px;
  margin: 0 auto;
  width: 88px;
}

.ex-page-content h1 {
  font-size: 98px;
  font-weight: 500;
  line-height: 150px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

.account-pages {
  background: url("../images/bg.jpg");
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
}

/* ======
33. Dashboard Page
   ====== */
.dashboard-charts {
  height: 300px;
}

/* ======
34. Responsive
   ====== */
@media (max-width: 620px) {
  .mo-mb-2 {
    margin-bottom: 10px;
  }
  .mo-mt-2 {
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .topbar-left {
    width: 70px !important;
  }
  .topbar-left span {
    display: none !important;
  }
  .topbar-left i {
    display: block !important;
    line-height: 70px !important;
  }
  .navbar-custom {
    margin-left: 70px !important;
  }
  .topbar .topbar-left {
    height: 70px;
  }
  .content-page {
    margin-left: 0 !important;
  }
  .content-page .content {
    padding: 0px;
  }
  .enlarged .left.side-menu {
    margin-left: -70px;
  }
  .footer {
    left: 0 !important;
  }
  .page-title-box-white {
    padding: 17px 40px;
  }
}

@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .navbar-custom {
    margin-left: 0 !important;
  }
}

@media (max-width: 419px) {
  .topbar-left {
    width: 70px !important;
  }
  .content-page {
    margin-left: 70px;
  }
  .enlarged .side-menu.left {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
  .topbar-left {
    display: none;
  }
  .nav-tabs .nav-link, .nav-pills .nav-link {
    padding: 0.5rem;
  }
  .page-title-box-white .breadcrumb {
    display: none;
  }
}

@media (min-width: 768px) {
  .enlarged .slimscroll-menu {
    overflow: inherit !important;
  }
}

@media (max-width: 1024px) {
  .border-right {
    border: none !important;
  }
}
/*# sourceMappingURL=style.css.map */